body{
    color: black;
    background-color: black;
    font-family: Times new, roman, serif;
}

ul{
    display: flex;
    justify-content: space-between; /*distribui espaços entre palavras igualmente*/
    list-style-type: none; /*tira bolinha da palavra*/
    padding: 16px; /*espaçamento entre margem de cima e a palavra*/
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.centro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color:  #fc5404;
    width: 400px;
    box-shadow: 10px 10px 5px whitesmoke;
}
 section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

 form label{
    margin-bottom: 4px;

}

form input{
    padding: 10px;
    outline: none; /*tira a borda da caixa de texto*/
    border: 0;
    margin-bottom: 20px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 16px;

}

form textarea{
    outline: none;
    padding: 10px;
    border: 0;
    margin-bottom: 30px;
    transition: all 0.5s;

}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover{
    background-color: whitesmoke;
    color: black;
    border-radius: 16px;
}

/*pagina do obrigado*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:  #fc5404;
    flex-direction: column;
    
}
.text{
    font-size: 40px;
    color: black;
    margin-bottom: 30px;
    text-align: center;
    
}
.paragrafo{
    color: black;
    margin-bottom: 50px;
}
.btn{
    padding: 15px 55px;
    background-color: transparent;
    border: 2px solid black;
    transition: all 0.5s;
    color: black;
}
.btn:hover{
    border-radius: 16px;
}