body{
    color: white;
    background-color: #000000;
    font-family: Times new, roman, serif;
}

ul{
    display: flex;
    justify-content: space-between; /*distribui espaços entre palavras igualmente*/
    list-style-type: none; /*tira bolinha da palavra*/
    padding: 16px; /*espaçamento entre margem de cima e a palavra*/
    
}

a{
    color: white;
    text-decoration: none;
}
button,perso{
    width: 100px; 
    border-color:  #fc5404;
    background-color: #fc5404;
    color: black;
    border-radius: 8px;
    cursor: pointer;
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 30%;
    border: 4px solid #fc5404;
    animation: flutuar 6s infinite;
}
@keyframes flutuar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
}

.center{
    text-align: center;
}
h1{
    color: whitesmoke;
    text-align: center;
}
h2{
    text-align: center;
    margin-bottom: 45x;
}
.textoAnimado{
    font-size: 30px;
}
.textoAnimado span{
    animation: color-change 15s infinite;
}
@keyframes color-change {
    0% {color: #2698e4df;}
    20% {color: #FFFFFF;}
    40% {color: #ffff00;}
    60% {color: #14dad3;}
    80% {color: #68ef24d0;}
    100% {color: #e47c26df;}
}
.centro{
    text-align: center;
}


footer img{
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}
footer p{
    margin-top: 2px;
}
