body{
    color: white;
    background-color: #000000;
    font-family: Times new, roman, serif;
}

ul{
    display: flex;
    justify-content: space-between; /*distribui espaços entre palavras igualmente*/
    list-style-type: none; /*tira bolinha da palavra*/
    padding: 16px; /*espaçamento entre margem de cima e a palavra*/
}

a{
    color: white;
    text-decoration: none;
}
button,perso{
    width: 90px; 
    border-color:#ccff33;
    background-color: #ccff33;
    color: black;
    transition: 0.2;

}


header img{
    width: 150px;
    height: 150px;
    border-radius: 30%;
    border: 4px solid #ccff33;
    animation: flutuar 6s infinite;
}
@keyframes flutuar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
}

.center{
    text-align: center;
}
h1{
    color: #ccff33;
    text-align: center
}


footer img{
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}
footer p{
    margin-top: 2px;
}
